body {
  background-color: #257183!important;
  .container {
    width:100%;
    height:100vh;
    .wrapper{
      height: 97vh;
      display:flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      .page-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .page-title {
        font-size: 32px;
        text-transform: uppercase;
        color: #aee4ea;
      }
    }
    .page-content__buttons {
      display: flex;
      justify-content: space-around;
      transition: 2s;
      button {
        background-color: #257183;
        border: 1px solid #ffffff;
        border-top: none;
        color: #f2efe8;
        text-transform: uppercase;
        transition: 2s;
      }
      button:hover {
        transition: background-color 0.5s;
        background: linear-gradient(to bottom, #257183 , #5ebcc8);
        //background-color: (rgba(#ffffff));
        opacity: 0.6%;
      }
      .visited {
        background: linear-gradient(to bottom, #257183 , #5ebcc8);
      }
    }
    .timetable {
      .tables {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .groups {
          display: flex;
          justify-content: space-around;
          width:100%;
          margin-bottom: 10px;
          .central-part{
            padding-left:35px;
          }
          button {
            background-color: #257183;
            border: none;
          }
          span {
            color: #aee4ea;
          }
        }
      }
      .timetable__title {
        text-align: center;
        color: #aee4ea;
        font-size: 32px;
      }
      .specialities {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: #aee4ea;
      }
    }
    .date {
      position: relative;
      top: 5%;
      display: flex;
      justify-content: space-between;
      span {
        color: #aee4ea;
        font-weight: 300;
        font-size: 26px;
      }
    }
    table {
      width: 100%;
      text-align: center;
      td {
        width:25%;
        color: #aee4ea;
        border: 1px solid #aee4ea;
      }
    }
    .passing-points {
      margin-top: 50px;
    }
  }
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}
body #logo path:nth-child(1){
  stroke-dasharray: 610;
  stroke-dashoffset: 610;
  animation: line-anim 3s ease forwards;
}
.logo path:nth-child(2){
  stroke-dasharray: 604;
  stroke-dashoffset: 604;
  animation: line-anim 3s ease forwards;
}
.logo path:nth-child(3){
  stroke-dasharray: 336;
  stroke-dashoffset: 336;
  animation: line-anim 3s ease forwards;
}
.logo path:nth-child(4){
  stroke-dasharray: 483;
  stroke-dashoffset: 483;
  animation: line-anim 3s ease forwards;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

/*body {
  background-color: #257183!important;
  .wrapper {
    height: 100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .page-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .page-title {
      font-size: 32px;
      text-transform: uppercase;
      color: #03404f;
    }
  }
  .page-content {
    .page-content__buttons {
      display: flex;
      justify-content: space-around;
      button {
        background-color: #257183;
        border: 1px solid #ffffff;
        border-top: none;
        color: #f2efe8;
        text-transform: uppercase;
      }
      button:hover {
        transition: 7s;
        background: linear-gradient(to bottom, #257183 , #5ebcc8);
      }
      a {
        background-color: #257183;
        border: 1px solid #ffffff;
        border-top: none;
        color: #f2efe8;
        text-transform: uppercase;
      }
      a:hover {
        transition: 7s;
        background: linear-gradient(to bottom, #257183 , #5ebcc8);
      }
    }
  }
}*/
